body {
    background-color: antiquewhite;
}
.first {
    margin: 150px 50px 50px 500px;
}
.row {
    width: 400px;
    display: flex;
    border: 1px solid darkred;
}
.one {
    width: 140px;
    height: 40px;
}
.two {
    width: 140px;
    height: 40px;
    margin: 5px 0 0 5px;
}
h1 {
    width: 4px;
    height: 4px;
    font-size: 19px;
    margin: 10px 0 0 5px;
}
h3 {
    width: 4px;
    height: 4px;
    font-size: 19px;
    margin: 10px 0 0 5px;
}
.row:first-child {
    background-color: darkred;
    width: 400px;
    height: 40px;
}
.row:nth-child(2) {
    background-color: bisque;
}
.row:nth-child(3) {
    background-color: burlywood;
}
.row:nth-child(4) {
    background-color: bisque;
}
.row:nth-child(5) {
    background-color: burlywood;
}
h4 {
    color: white;
    font-size: 20px;
    margin: 5px 4px 0 0;
}
.row:nth-child(2):hover {
    background-color: burlywood;
}
.row:nth-child(3):hover {
    background-color: bisque;
}
.row:nth-child(4):hover {
    background-color: burlywood;
}
.row:nth-child(5):hover {
    background-color: bisque;
}
